<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="/img/logo/logo-color-square.svg" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/lineicons.css" />
  <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css" />
  <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css" />
  <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css" />
  <link rel="stylesheet" href="/css/animate.css" />
  <link rel="stylesheet" href="/css/style.css" />

  <title>Fleet</title>
</head>

<body>
  <!--Create Modal -->
  <div class="modal fade" id="createMeetModal" tabindex="-1" aria-labelledby="createMeetModalLabel" aria-hidden="true">
    <form action="/makenew" method="post">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createMeetModalLabel">
              Create Meeting
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <input id="create-meet-name" placeholder="Eg: Developers Space" class="form-control" type="text"
                name="meet_name" required />
            </div>
          </div>
          <div class="modal-footer">
            <!-- <a id="create-meet-btn" href="/makenew" class="btn btn-voilet">
              <i class="lni lni-video"></i> create
            </a> -->
            <input type="submit" value="create">
          </div>
        </div>
      </div>
    </form>
  </div>
  <!--Join Modal -->
  <div class="modal fade" id="joinMeetModal" tabindex="-1" aria-labelledby="joinMeetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="joinMeetModalLabel">Enter Join Code</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="join-meet">
            <input id="join-meet-code" placeholder="Eg: xcg-edf-asd" class="form-control" type="text" />
          </div>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-voilet" id="join-meet-btn">
            <i class="lni lni-video"></i> Join
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard">
    <div class="dashboard__navigation">
      <div class="dashboard__navigation--logo">
        <img src="/img/logo/logo-color-square.svg" alt="" />
      </div>
      <div class="meet-btns">
        <button class="btn btn-voilet btn-create-meet" data-bs-toggle="modal" data-bs-target="#createMeetModal">
          <i class="lni lni-video"></i> Create a Meeting
        </button>
        <button class="btn btn-outline-voilet btn-join-meet" data-bs-toggle="modal" data-bs-target="#joinMeetModal">
          <i class="lni lni-bubble"></i>JoinMeeting
        </button>
      </div>
      <div class="dashboard__navigation--profile">
        <div class="dropdown">
          <a class="dropdown-toggle" type="button" id="dashboardProfile" data-bs-toggle="dropdown"
            aria-expanded="false">
            <p>
              <%= user %>
            </p>
            <span><img src="<%= image %>" alt="" /></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dashboardProfile">
            <li>
              <a class="dropdown-item" href="/logout">
                <i class="fi fi-rr-sign-in"></i>Sign Out
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="dashboard__main">
      <nav class="dashboard__lsidenav">
        <ul>
          <li>
            <a href="" class="active"><i class="fi fi-sr-presentation"></i> Meetings</a>
          </li>
          <!-- <li>
            <a href="" class=""><i class="fi fi-sr-user"></i> Profile</a>
          </li>
          <li>
            <a href="" class=""><i class="fi fi-sr-life-ring"></i> Help</a>
          </li> -->
          <li>
            <a href="/logout" class=""><i class="fi fi-br-sign-in"></i> Log Out</a>
          </li>
        </ul>
      </nav>
      <div class="dashboard__meetings">

        <% if(room_hist.length> 0){ %>

          <ul>
            <% for(var i=0; i < room_hist.length; i++) { var date=room_hist[i].time; %>
              <li class="meetHistoryItems" data-number="<%= i %>">
                <div class="dashboard__meetings--logo">
                  <i class="lni lni-slideshare"></i>
                </div>
                <p>
                  <%= room_hist[i].meet_name %> | <%= room_hist[i].room_id %>
                </p>
                <span>
                  <%= date.getDate() + ' ' + date.toLocaleString('default', { month: 'long' }) + ', ' +
                    date.getFullYear() %>
                </span>
              </li>
              <% } %>
          </ul>
          <% } %>

      </div>
      <div class="conference__chat active" style="flex: 1">
        <div class="conference__chat--items">
          <!-- <span class='room_hist'><%= room_hist %></span> -->
          <% for(var i=0; i < room_hist[room_hist.length-1]?.chats.length; i++){ <!-- Variables -->
            var userClass = 'conference__chat--item';
            var chat = room_hist[room_hist.length-1].chats[i].message;
            var date = room_hist[room_hist.length-1].chats[i].time;
            var name = room_hist[room_hist.length-1].chats[i].senders_name;
            <!-- logic -->
            var boolChat = !(chat.includes('Joined') || chat.includes('Connected') || chat.includes('disconnected'))
            if(name == user && boolChat) {
            userClass = 'conference__chat--item conference__chat--item-user'
            }else{
            userClass = 'conference__chat--notification'
            }
            if(userClass == 'conference__chat--notification'){
            %>
            <div class="conference__chat--notification">
              <p>
                <%= chat %>
              </p>
            </div>
            <% }else{ %>

              <div class="<%= userClass %>">
                <div class="conference__chat--item-message">
                  <%= chat %>
                </div>
                <div class="conference__chat--item-detail">
                  <%= date.getDate() + ' ' + date.toLocaleString('default', { month: 'long' }) + ', ' +
                    date.getFullYear() %> | <%= name %>
                </div>
              </div>
              <% }} %>
        </div>
      </div>
    </div>
  </div>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script>
    const join_meet_input = document.querySelector("#join-meet-code");
    const join_meet_btn = document.querySelector("#join-meet-btn");
    join_meet_btn.addEventListener("click", (e) => {
      e.preventDefault();
      join_meet_url = join_meet_input.value;
      location.href = `https://fleet-online.herokuapp.com/room/${join_meet_url}`;
    });

    const create_meet_btn = document.querySelector("#create-meet-btn");
    create_meet_btn.addEventListener("click", (e) => {
      // e.preventDefault();
      const create_meet_title =
        document.querySelector("#create-meet-name").value;
      let title = create_meet_title;
      localStorage.setItem("MeetTitle", title);
      // window.location = `${window.location.href}/makenew`
    });

    const meetItems = document.querySelectorAll(".meetHistoryItems");
    const meetChatContainer = document.querySelector('.conference__chat--items')
    meetItems.forEach((item) => {
      item.addEventListener("click", () => {
        let itemNo = item.getAttribute("data-number")
        let chatStr = ''
        let room_hist_js = `<%= room_hist[0] %>`
        console.log('1')
        console.log(room_hist_js)
        for (var i = 0; i < room_hist_js[itemNo].chats.length; i++) {
          var userClass = 'conference__chat--item';
          var chat = room_hist_js[itemNo].chats[i].message;
          var date = room_hist_js[itemNo].chats[i].time;
          var name = room_hist_js[itemNo].chats[i].senders_name;

          var boolChat = !(chat.includes('Joined') || chat.includes('Connected') || chat.includes('disconnected'))
          if (name == user && boolChat) {
            userClass = 'conference__chat--item conference__chat--item-user'
          } else {
            userClass = 'conference__chat--notification'
          }
          if (userClass == 'conference__chat--notification') {
            let chatItemnotif = `<div class="conference__chat--notification"><p>${chat}</p></div>`
            chatStr.concat(chatItemnotif)
          } else {
            let chatItem1 = `<div class=${userClass}>
                <div class="conference__chat--item-message">${chat}</div>
                <div class="conference__chat--item-detail">${date.getDate()} ${toLocaleString('default', { month: 'long' })} ${date.getFullYear()} ${name} </div>
              </div>`
            chatStr.concat(chatItem1)
          }
        }
        meetChatContainer.innerHTML = chatStr
      });
    });
  </script>
</body>

</html>